<div class="container">
  <h2 class="dashboard-title">Health Dashboard</h2>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let service of services">
      <div class="card modern-card" [ngClass]="{ 'up': service.status === 'UP', 'down': service.status === 'DOWN' }">
        <div class="card-header">
          {{ service.name }}
        </div>
        <div class="card-body">
          <h5 class="card-title">
            Status:
            <span class="status-badge">{{ service.status }}</span>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
